@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* Apply the Roboto font family to the body */
body {
  font-family: 'Roboto', sans-serif;
}

.logo-container img {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.productList img {
  width: 100%;
  height: 185px;
}

.productTitle,
.productFilters {
  display: flex;
  justify-content: space-between;
}

.productList {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-top: 15px;
}

.productData {
  display: flex;
  justify-content: space-around;
}

.checkoutContainer {
  padding: 3%;
  text-align: center;
}

.checkoutContainer div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.productListCheckout div {
  display: flex;
  flex-direction: rpw;
  text-align: center;
  align-items: center;
  gap: 10px;
  justify-content: space-evenly;
}


.checkoutContainer div button {
  width: 50%;
}

.productDetails img {
  width: 100%;
  height: 450px;
}

.productInfo {
  width: 40%;
}

.productInfo div {
  display: flex;
  justify-content: space-between;
}

.productRatings {
  display: flex;
  justify-content: space-between;
}

.productDimensions {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .productInfo {
    width: 90%;
  }

  body p,
  body div {
    font-size: 14px;
  }

  .productList img {
    width: 100%;
    height: 250px;
  }

  .checkoutContainer div {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }

  .checkoutContainer div button {
    width: 40%;
  }

  .productDetails img {
    width: 100%;
    height: 250px;
  }

  .productTitle,
  .productFilters {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .productData div {
    display: flex;
    flex-direction: column;
  }

  .productFilters input {
    width: 70%;
  }
}